:import('colors.css') {
  --input-border: --concrete;
  --button-bg: --medium-slate-blue;
}
:import('sizes.css') {
  --spacing: --common-spacing;
}
:import('mediaqueries.css') {
  --tablet: --tablet;
}

.content {
  padding: --spacing;
}

.title {
  text-align: center;
}

.form {
  width: 100%;

  input {
    display: block;
    width: 100%;
    padding: 1em;

    background: white;
    border-left: 5px solid white;

    transition: border-left .4s ease-in;

    outline: none;

    &:focus {
      border-color: --input-border;
    }

    @media --tablet {
      width: 70%;
      float: left;
    }
  }
  button {
    display: block;
    width: 100%;
    padding: 1em;

    background: --button-bg;
    color: white;

    @media --tablet {
      width: 30%;
      float: left;
    }
  }
}
