/* import used variables */
:import('colors.css') {
  --color--text: --dark-gray;
  --color--heading: --medium-slate-blue;
  --color--code: --concrete;
  --color--hr: --concrete;
}
:import('typography.css') {
  --text--size: --medium-size;
  --text--family: --text-family;
  --heading--size: --xx-large-size;
  --heading--family: --heading-family;
}

h1 {
  color: --color--heading;
  font-size: --heading--size;
  font-family: --heading--family;
  font-weight: bold;
  margin-bottom: 2rem;
}

code {
  background: --color--code;
  padding: .25em .4em;
}

p {
  line-height: 1.5em;
}

hr {
  margin: 2rem 0;
  border-top: 1px solid --color--hr;
}

.sheet {
  background: white;

  box-shadow: 0 1.2rem 3.2rem -1.6rem rgba(0, 0, 0, .15);

  color: --color--text;
  font-size: --text--size;
  font-family: --text--family;
  font-weight: normal;
}
