/* import used variables */
:import('colors.css') {
  --color--background: --black-haze;
}
:import('sizes.css') {
  --spacing: --common-spacing;
}

.app {
  overflow: auto;
  box-sizing: border-box;
  padding: --spacing;
  min-height: 100vh;
  background: --color--background;
  background-size: cover;
}

.page-slider {
  margin-top: 3rem;
  position: relative;
}

.page--enter {
  position: absolute;
  width: 100%;
  opacity: 0.01;
  transform: translateY(2rem);
}
.page--enter.page--enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1),
              opacity .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: .2s;
}

.page--leave {
  position: absolute;
  width: 100%;
  opacity: 1;
}
.page--leave.page--leave-active {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}
